<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MalikAuth Cloud Server Connection -->
    <add key="MalikAuth_ServerUrl" value="https://ais-pre-dmmvsmlhvtv7sqmjmf74ac-343569952139.asia-southeast1.run.app" />
    <add key="MalikAuth_AppId" value="7862590123" />
    <add key="MalikAuth_OwnerId" value="owner_78625" />
    <add key="MalikAuth_AppSecret" value="0987654321" />
    <add key="MalikAuth_Version" value="1.0.0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
